@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Azeret Mono;
  max-width: 1440px;
  color: #0d1321;
  margin: 0 auto;
}
.section-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-title-description {
  line-height: 26px;
  margin-bottom: 48px;
}
.section-heading {
  width: 852px;
  margin: 0 auto;
  text-align: center;
}

/* header section styles */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
.nav-content h1 {
  font-size: 28px;
  font-weight: 800;
}
.nav-content button {
  padding: 17px 24px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.banner {
  max-width: 1440px;
  background-image: url("assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  width: 998px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.banner-content img {
  width: 240px;
  height: 240px;
  margin-top: 26px;
  margin-bottom: 32px;
}
.banner-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}
.banner-content p {
  line-height: 26px;
  margin-bottom: 32px;
}
.banner-content button {
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #0d1321;
  color: #fff;
  cursor: pointer;
  margin-bottom: 45px;
}

/* why web dev section styles */
#development {
  max-width: 946px;
  margin: 74px auto 90px auto;
  padding: 80px 97px;
  background-color: rgba(13, 19, 33, 0.02);
}
.single-reason-box {
  width: 850px;
  padding: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 32px;
}
.reason-content {
  width: 477px;
}
.reason-content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 16px;
  opacity: 0.8;
}
.reason-content p {
  line-height: 26px;
  margin-bottom: 32px;
}
.reason-content .learn-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  border: 2px solid #0d1321;
  background-color: #fff;
  margin-bottom: 10px;
  opacity: 0.7;
  cursor: pointer;
}
.reason-image {
  width: 274px;
  height: 240px;
  text-align: center;
}

/* inspiration section styles */
#inspiration {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.inspiration-video {
  border: 2px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 50px;
}
iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}

/* current & next target section styles */
#current-target,
#next-target {
  max-width: 1140px;
  margin: 0 auto;
}
.target-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 111px;
}
.single-target {
  width: 284px;
  height: 219px;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.single-target img {
  width: 56px;
  height: 56px;
}
.target-head {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.target-para {
  line-height: 26px;
}
.target-anchor {
  font-size: 16px;
  font-weight: bold;
  color: #0d1321;
}
.html-bg {
  background-color: rgba(255, 76, 30, 0.05);
}
.css-bg {
  background-color: rgba(0, 76, 232, 0.05);
}
.js-bg {
  background-color: rgba(255, 223, 0, 0.05);
}

/* next target section styles */
.next-single-target {
  width: 1060px;
  padding: 40px;
  border: 2px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  margin-bottom: 24px;
}
.next-single-target-image {
  width: 150px;
  text-align: center;
}
.next-single-target-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

/* support section styles */
